.formInput {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: subgrid;
  align-items: center;
}

.inputs input {
  grid-column: 1/4;
  padding: 1rem 2.2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-terms);
}

.inputs input:focus-visible {
  border: 2px solid var(--clr-freeTrial);
  outline: none;
}

.inputs input::placeholder {
  font-weight: var(--fw-semibold);
}

.inputs span {
  grid-column: 3/4;
  margin-inline: 0.5rem;
  display: none;
}

.errors {
  text-align: right;
  color: var(--clr-bg);
  font-size: 0.8rem;
  font-weight: var(--fw-semibold);
  font-style: italic;
}

.inputs input:invalid[focused="true"] {
  border: 2px solid var(--clr-bg);
  color: var(--clr-bg);
  font-weight: var(--fw-semibold);
}

.inputs input:invalid[focused="true"]::placeholder {
  color: var(--clr-bg);
  font-weight: var(--fw-semibold);
}

.inputs input:invalid[focused="true"] ~ span {
  display: block;
}
