.app {
  min-height: 100svh;
  background-color: var(--clr-bg);
  background-image: url("./assets/images/bg-intro-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--ff-default);
  place-items: center;
}

.container {
  max-width: 65rem;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.grid {
  display: grid;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin-block: 2rem;
  }
}
